.about {
    padding: 100px 0px 100px;
    background-color: #0e0e0e;
}

.about__wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.about__info {
    width: 100%;
    min-width: 205px;
    margin-right: 30px;
}

.about__item {
    margin-bottom: 20px;
    color: #e5e5e5;
    font-size: 18px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
}

.about__descr {
    max-width: 775px;
    color: #e5e5e5;
    font-size: 18px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
}

@media (max-width: 600px) {
    .about__info{
        margin-right: 15px;
        min-width: 170px;
    }
    .about__item,
    .about__descr{
        font-size: 15px;
    }
}

@media(max-width: 500px){
    .about__wrapper{
        flex-direction: column;
    }
    .about__info{
        margin-right: 0;
    }
    .about__menu{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .about__item{
        width: 171px;
    }
    
}

@media(max-width: 420px){
    .about__menu{
        display: block;
    }
    .about__info{
        margin-bottom: 15px;
    }
}
