.page__header {
    background: url(../img/s1.png) center 50px / cover no-repeat;
    height: 90vh;
    text-align: center;
    position: relative;
    background-color: #0e0e0e;
    padding: 50px 0px 50px;
    overflow: hidden;
}

.page__header:before {
    content: "";
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
    height: 50px;
    background-image: linear-gradient(
        #0e0e0e 0%,
        rgba(17, 17, 17, 0.99) 17%,
        rgba(32, 31, 33, 0) 100%
    );
}

.page-logo {
    position: absolute;
    left: 10px;
    top: 0px;
    z-index: 20;
}

.page__logo-img {
    width: 100%;
}

.page__bottom {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    padding: 44px 47px 64px 35px;
    background-color: #0e0e0e;
    display: flex;
    max-width: 1384px;
    width: 100%;
}

.page__bottom-num {
    margin: 15px 50px 0px 0px;
    font-size: 96px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: normal;
    line-height: 50px;
}

.page__bottom-num span {
    font-size: 36px;
}

.page__bottom-descr {
    color: #ffffff;
    font-size: 18px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    text-align: left;
}

.overlay{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.7);
    z-index: 100;
    display: none;
    
}

.overlay__cnt{
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 20px 50px;
    font-size: 50px;
    background-color: #000;
    border: none;
    display: none;
}

@media(max-width: 1350px){
    .page__header{
        height: 120vh;
    }
}

@media(max-width: 991px){
    .page__bottom{
        flex-direction: column;
        padding: 20px;
    }
    .page__bottom-num{
        width: 100%;
        margin: 0;
        font-size: 70px;
    }
}

@media(max-width: 850px){
    .page-logo {
        top: -40px;
    }
}

@media(max-width: 800px){
    .page__bottom-descr{
        font-size: 15px;
    }
}

@media(max-width: 550px){
    .page__header{
        height: 140vh;
    }
}

@media(max-width: 400px){
    .page__header{
        height: 150vh;
    }
    .page__bottom-descr{
        font-size: 12px;
    }
}
