* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: "Roboto Condensed", sans-serif;
}

body {
    color: #fff;
}

button:focus {
    outline: none;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

.header {
    background: url(../img/bg.jpg) center center no-repeat;
    height: 1030px;
    position: relative;
}

.hamburger{
    display: none;
}

.logo {
    text-align: center;
    display: inline-block;
    position: absolute;
    top: 300px;
    left: 50%;
    transform: translateX(-50%);

}

nav {
    padding: 50px 0px 50px;
    margin: 0 auto;
}

.menu {
    display: flex;
    justify-content: center;
}

.menu__item {
    padding: 0px 13px;
}

.menu__item:nth-last-child(1) {
    margin-right: 0;
}

.menu__link {
    color: #ffffff;
    font-size: 36px;
    font-weight: 400;
}

.menu__link:hover {
    color: #85ccdc;
    text-decoration: underline;
}

.about {
    padding: 100px 0px;
    background-color: #0e0e0e;
    box-shadow: 0px -40px 70px 20px #0e0e0e;
}

.title {
    color: #ffffff;
    font-size: 36px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 100px;
}

.about__wrapper {
    display: flex;
    justify-content: space-between;
}

.about__info-item {
    width: 205px;
    margin-right: 220px;
    color: #e5e5e5;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 25px;
}

.about__descr {
    color: #ffffff;
    font-size: 18px;
    font-weight: 400;
    line-height: 20px;
}

.video {
    background: url(../img/video-bg.png) center center/cover no-repeat;
    height: 1080px;
    position: relative;
}

.video__wrapper {
    position: absolute;
    left: 50%;
    top: 60%;
    transform: translate(-50%, -50%);
    font-size: 22px;
}

.video img {
    display: block;
    margin: 0 auto 10px;
}

.video__text {
    color: #fff;
}

.seasons {
    padding: 100px 0px 100px;
    background-color: #000;
}

.seasons__wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.seasons__item {
    position: relative;
    width: 350px;
    height: 250px;
    background: url(../img/s1.jpg) center center/cover no-repeat;
    display: flex;
    align-items: center;
    margin-bottom: 80px;
}

.seasons__item:nth-child(2) {
    background: url(../img/s2.jpg) center center/cover no-repeat;
}

.seasons__item:nth-child(3) {
    background: url(../img/s3.jpg) center center/cover no-repeat;
}

.seasons__item:nth-child(4) {
    background: url(../img/s4.jpg) center center/cover no-repeat;
    margin-bottom: 0;
}

.seasons__item:nth-child(5) {
    background: url(../img/s5.jpg) center center/cover no-repeat;
    margin-bottom: 0;
}

.seasons__item:nth-child(6) {
    background: url(../img/s6.jpg) center center/cover no-repeat;
    margin-bottom: 0;
}

.seasons__item:after {
    top: 0;
    left: 0;
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    display: none;
}

.seasons__link {
    color: #ffffff;
    font-size: 36px;
    font-weight: 400;
    display: block;
    text-align: center;
    width: 100%;
    padding: 102px 0px;
    position: relative;
    z-index: 10;
    display: none;
}

.seasons__link:after {
    left: 0;
    z-index: -1;
    position: absolute;
    content: "";
    top: 50%;
    transform: translateY(-50%);
    height: 80px;
    width: 100%;
    background-color: #000;
}

.seasons__item:hover:after,
.seasons__item:hover .seasons__link {
    display: block;
}

.seasons__num {
    top: -40px;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    content: "";
    color: #fff;
    font-size: 30px;
    font-weight: 700;
}

.char {
    padding: 100px 0px 100px;
    background-color: #000;
}

.char__wrapper {
    display: flex;
    justify-content: space-between;
}

.char-slider {
    width: 775px;
    position: relative;
    height: 450px;
}

.slider-img {
    width: 775px;
    height: 450px;
}

.slick-prev,
.slick-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 5;
    background: transparent;
    border: none;
    cursor: pointer;
}

.slick-prev {
    left: 30px;
}

.slick-next {
    right: 30px;
}

.char-slider {
    margin-right: 70px;
}

.char__info-slider {
    width: 350px;
}

.char__info {
    width: 350px;
}

.char__name {
    font-size: 40px;
    margin-bottom: 20px;
}

.char__descr {
    color: #ffffff;
    font-size: 18px;
    font-weight: 400;
}

.footer {
    padding: 14px 0px;
    background-color: #000;
    text-align: center;
}

.rights {
    color: #ffffff;
    font-size: 18px;
    font-weight: 400;
}

/* ----- s1_start -----*/

.season__header {
    background: url(../img/season-bg.jpg) center center/cover no-repeat;
    height: 900px;
    position: relative;
    height: 100vh;
}

.logo-mini {
    position: absolute;
    left: 275px;
    top: 50px;
}

.seasons__descr {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    padding: 44px 47px 64px 35px;
    background-color: #000;
    width: 1383px;
    display: flex;
}

.seasons__number span {
    color: #ffffff;
    font-size: 96px;
    font-weight: 700;
    line-height: 70px;
    display: block;
    text-align: center;
}

.seasons__number {
    color: #ffffff;
    font-size: 36px;
    font-weight: 700;
    line-height: 30px;
    margin-right: 45px;
}

.seasons__descr-text {
    color: #ffffff;
    font-size: 18px;
    font-weight: 400;
    width: 100%;
}

.serias{
    padding: 100px 0px;
    background-color: #000;
}

.seasons__item:nth-child(1) {
    background: url(../img/1seria.jpg) center center/cover no-repeat;
    margin-bottom: 85px;
}

.seasons__item:nth-child(2) {
    background: url(../img/2seria.jpg) center center/cover no-repeat;
    margin-bottom: 85px;
}

.seasons__item:nth-child(3) {
    background: url(../img/3seria.jpg) center center/cover no-repeat;
    margin-bottom: 85px;
}

.seasons__item:nth-child(4) {
    background: url(../img/4seria.jpg) center center/cover no-repeat;
    margin-bottom: 85px;
}
.seasons__item:nth-child(5) {
    background: url(../img/5seria.jpg) center center/cover no-repeat;
    margin-bottom: 85px;
}
.seasons__item:nth-child(6) {
    background: url(../img/6seria.jpg) center center/cover no-repeat;
    margin-bottom: 85px;
}
.seasons__item:nth-child(7) {
    background: url(../img/7seria.jpg) center center/cover no-repeat;
    margin-bottom: 0px;
}
.seasons__item:nth-child(8) {
    background: url(../img/8seria.jpg) center center/cover no-repeat;
    margin-bottom: 0px;
}

.seasons__item:nth-child(9) {
    background: url(../img/9seria.jpg) center center/cover no-repeat;
    margin-bottom: 0px;
}

.overlay{
    position: fixed;
    background: rgba(0,0,0,0.8);
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    display: none;
}

.overlay-text{
    font-size: 40px;
    color: #fff;
    padding: 20px 50px;
    background: #000;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
}

.test{
    text-align: center;
    font-size: 40px;
    font-weight: bold;
}




/*----- s1_end -----*/


@media(max-width: 1300px){
    .logo__img{
        width: 95%;
    }
    .menu__link{
        font-size: 24px;
    }
}

@media(max-width: 640px){
    .logo{
        top: 20px;
    }
    .menu{
        text-align: center;
        position: fixed;
        top: 0;
        right: -100%;
        width: 50%;
        flex-direction: column;
        height: 100vh;
        justify-content: center;
        background: rgba(0,0,0,0.7);
        transition: 0.5s all;
        z-index: 10;
    }

    .menu_active{
        right: 0;
    }
    .menu__item{
        margin-bottom: 20px;
    }

    .menu__link{
        display: block;
        padding: 10px;
        font-size: 35px;
    }

    .menu__link:hover{
        text-decoration: none;
        color: #FFF;
    }
    .hamburger {
        position: absolute;
        content: "";
        top: 0;
        right: 0;
        width: 50px;
        height: 50px;
        padding: 10px;
        background-color: rgba(0, 0, 0, 0.5);
        cursor: pointer;
        display: block;
        margin: 5px;
        z-index: 100;
        border: 1px solid #fff;
    }

    .hamburger span {
        display: block;
        width: 100%;
        height: 2px;
        background-color: #fff;
        margin-bottom: 10px;
        transition: 0.5s all;
    }
    .hamburger_active span:nth-child(1) {
        margin: 12px 0px 0px;
        transform: rotate(45deg);
    }
    .hamburger_active span:nth-child(2) {
        display: none;
    }
    .hamburger_active span:nth-child(3) {
        margin: -2px 0px 0px;
        transform: rotate(-45deg);
    }
}

@media(max-width: 500px){
    .menu{
        width: 100%;
    }
    .hamburger {
        width: 30px;
        height: 30px;
        padding: 5px;
    }
    .hamburger span {
        margin-bottom: 6px;
    }
    .hamburger_active span:nth-child(1) {
        margin: 8px 0px 0px;
        transform: rotate(45deg);
    }
    .menu__link{
        font-size: 40px;
    }
}