.header{
    padding: 20px 0px;
}

.header__content{
   display: flex;
   justify-content: space-between;
}

.header__item{
    display: flex;
}

.header__img{
    height: 21px;
    margin-right: 10px;
}

.header__country{
    font-size: 14px;
    color: #242424;
    font-weight: 700;
    line-height: 13px;
}
.header__phone{
    font-size: 12px;
    color: #242424;
    font-weight: 300;
}
.header__address{
    font-size: 12px;
    color: #242424;
    font-weight: 300;
}

@media(max-width: 1200px){
    .header__item{
        flex-direction: column;
        text-align: center;
    }
    .header__img{
        width: 50px;
        display: block;
        margin: 0 auto;
    }
}

@media(max-width: 991px){
    .header{
        display: none;
    }
}