.carousel {
    padding: 80px 0px;
}

.carousel__inner {
    width: 750px;
    margin: 0 auto;
    position: relative;
    outline: none;
}

.carousel__inner div {
    display: flex;
    align-items: center;
}

.carousel__inner div img {
    width: 100%;
    height: 100%;
}

.carousel__inner .slick-prev img,
.carousel__inner .slick-next img {
    width: 30px;
    height: 50px;
}

.carousel__inner .slick-prev {
    background-color: #fff;
    border: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -66px;
    cursor: pointer;
    outline: none;
}
.carousel__inner .slick-next {
    background-color: #fff;
    border: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: -66px;
    cursor: pointer;
    outline: none;
}

.slick-dots{
    padding-top: 10px;
    display: flex;
    justify-content: center;
}


.slick-dots li button{
    color: transparent;
    background-color: #fff;
    border: 2px solid black;
    width: 50px;
    height: 8px;
    margin: 0px 5px;
    transition: 0.3s all;
    
}

.slick-dots li.slick-active button{
    background-color: #000;
}

@media(max-width: 920px){
    .carousel__inner{
        width: 600px;
    }
}

@media (max-width: 767px) {
    .carousel__inner {
        width: 530px;
    }
}

@media (max-width: 575px) {
    .carousel__inner {
        width: 350px;
    }
    .carousel__inner .slick-prev {
        left: -50px;
    }
    .carousel__inner .slick-next {
        right: -50px;
    }
    .carousel__inner .slick-prev img,
    .carousel__inner .slick-next img {
        width: 20px;
        height: 40px;
    }
}

@media(max-width: 440px){
    .carousel__inner {
        width: 310px;
    }
    .slick-dots li button{
        width: 30px;
        height: 6px;
    }
}

@media(max-width: 360px){
    .carousel__inner {
        width: 270px;
    }
}
