.consultation {
    min-height: 680px;
    padding: 100px 0px 0px;
    background: url(../img/bg2.jpg) center center/cover no-repeat;
}

.consultation__description {
    color: #ffffff;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 35px;
}


.consultation label.error{
    text-align: center;
    color: #fff;
    border: none;
}

#consultation-form{
    padding-bottom: 120px;
}

@media(max-width: 991px){
    .consultation{
        text-align: center;
    }
}

@media(max-width: 520px){
    .consultation__description {
        font-size: 18px;
    }
}

@media(max-width: 430px){
    .consultation__description {
        font-size: 15px;
        margin-bottom: 10px;
    }
    .consultation{
        padding: 170px 0px 50px;
        height: 780px;
    }
}

@media(max-width: 360px){
    .consultation__description {
        font-size: 13px;
    }
    .consultation{
        padding: 170px 0px 50px;
        height: 780px;
    }
}




