.promo {
    min-height: 680px;
    padding: 21px 0px 93px;
    background: url(../img/bg1.jpg) center center/cover no-repeat;
}

.promo__wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin: 90px 0px 0px;
}

.promo__header {
    color: #ffffff;
    font-size: 42px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0;
    line-height: 42px;
}

.promo__subheader {
    color: #ffffff;
    line-height: 24px;
    font-size: 24px;
    font-weight: 500;
    text-transform: uppercase;
}

.promo__icons {
    margin-top: 65px;
    width: 425px;
    display: flex;
    justify-content: space-between;
}

.promo__icon {
    width: 106px;
    text-align: center;
    color: #ffffff;
    font-size: 14px;
    font-weight: 500;
}

.promo__icon img {
    margin-bottom: 20px;
    display: block;
    margin: 0 auto;
}

.promo__link {
    margin-top: 18px;
    color: #ffffff;
    font-size: 16px;
    font-weight: 500;
}

.promo__link a{
    text-transform: uppercase;
    text-decoration: underline;
    color: #fff;
}

@media(max-width: 991px){
    .promo__wrapper{
        align-items: center;
    }
}

@media(max-width: 575px){
    .promo__wrapper{
        text-align: center;
    }
    .promo__header{
        font-size: 35px;
        margin-bottom: 15px;
    }
}

@media(max-width: 520px){
    .promo__icons{
        display: none;
    }
    .promo__wrapper{
        margin-top: 160px;
    }
}
