.title {
    text-align: center;
    color: #0d0d0d;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 60px;
    text-transform: uppercase;
}

.title_left {
    font-size: 36px;
    text-align: left;
    color: #fff;
    line-height: 40px;
    margin-bottom: 80px;
}

@media(max-width: 991px){
    .title_left br{
        display: none;
    }
    .title_left{
        text-align: center;
        font-size: 30px;
        margin-bottom: 60px;
    }
}

@media(max-width: 767px){
    .title_left{
        font-size: 24px;
        margin-bottom: 40px;
    }
}

@media(max-width: 500px){
    .title {
        font-size: 24px;
    }
}

@media(max-width: 360px){
    .title_left{
        font-size: 20px;
    }
}
