* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: sans-serif;
  color: #000;
  line-height: 1;
}

button:focus,
input:focus {
  outline: none;
}

body{
  display: flex;
  background: rgba(0, 0, 0, 0.863);
  height: 100vh;
  width: 100%;
  justify-content: center;
  align-items: center;
}

#button,
#upgrade{
  min-width: 55px;
  min-height: 50px;
  padding: 10px;
  border-radius: 5px;
  border:2px solid red;
  background: rgba(0, 0, 0, 0.514);
  color: red;
  font-size: 20px;
  cursor: pointer;
  margin: 40px;
}

#upgrade{
  padding: 10px 20px;
}

.block{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.cyka{
  width: 70px;
  position: relative;
  z-index: 1000;
}

.img_block, .ench1, .ench2, .ench3, .ench4, .ench5{
  position: relative;
  z-index: 100;
}

.img_block:before{
  display: block;
  content: '';
  position: absolute;
  width: 0px;
  height: 73%;
  left: 49%;
  transform: translateX(-50%);
  bottom: 0;
  background-color: transparent;
  z-index: 1;
}

.ench1:before{
  display: block;
  content: '';
  position: absolute;
  width: 0px;
  height: 73%;
  left: 49%;
  transform: translateX(-50%);
  bottom: 0;
  background-color: transparent;
  box-shadow: 0px 0px 25px 8px rgb(154, 212, 226);
  z-index: 1;
}

.ench2:before{
  display: block;
  content: '';
  position: absolute;
  width: 0px;
  height: 73%;
  left: 49%;
  transform: translateX(-50%);
  bottom: 0;
  background-color: transparent;
  box-shadow: 0px 0px 30px 11px rgb(154, 212, 226);
  z-index: 1;
}

.ench3:before{
  display: block;
  content: '';
  position: absolute;
  width: 0px;
  height: 73%;
  left: 49%;
  transform: translateX(-50%);
  bottom: 0;
  background-color: transparent;
  box-shadow: 0px 0px 35px 15px rgb(121, 154, 245);
  z-index: 1;
}

.ench4:before{
  display: block;
  content: '';
  position: absolute;
  width: 0px;
  height: 73%;
  left: 49%;
  transform: translateX(-50%);
  bottom: 0;
  background-color: transparent;
  box-shadow: 0px 0px 45px 20px rgb(52, 102, 240);
  z-index: 1;
}

.ench5:before{
  display: block;
  content: '';
  position: absolute;
  width: 0px;
  height: 73%;
  left: 49%;
  transform: rotateX(-50%);
  bottom: 0;
  background-color: transparent;
  box-shadow: 0px 0px 50px 25px rgb(247, 16, 54);
  z-index: 1;
}

