* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Museo Sans Cyrl',sans-serif;
}

.container{
    width: 970px;
    padding: 0px 15px;
    margin: 0 auto;
}

@media(max-width: 991px){
    .container{
        width: 850px;
    }
}

@media(max-width: 920px){
    .container{
        width: 700px;
    }
}

@media(max-width: 767px){
    .container{
        width: 550px;
    }
}

@media(max-width: 575px){
    .container{
        width: 500px;
    }
}

@media(max-width: 520px){
    .container{
        width: 400px;
    }
}

@media(max-width: 430px){
    .container{
        width: 375px;
        padding: 0px 5px;
    }
}

@media(max-width: 400px){
    .container{
        width: 330px;
    }
}

@media(max-width: 360px){
    .container{
        width: 300px;
    }
}